<?xml version="1.0" encoding="utf-8"?>
<Configs>
  <Units>
    <Unit Name ="Unit">
      <UnitAction Action="FastAttack" Key="FastAttack" Min="0" Max="3"/>
      <UnitAction Action="StrongAttack" Key="StrongAttack" Min="0" Max="3"/>
      <UnitAction Action="Block" Key="Block" Min="0" Max="5"/>
    </Unit>
  </Units>
</Configs>